h1 {
    color:aquamarine;
    background-color: black;
    text-decoration: double;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 10px;
    line-height: 1.5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-indent: 50px;
    text-overflow: ellipsis;
    text-decoration: underline;
    text-decoration-color: aqua;
    text-decoration-thickness: 2px;
    text-decoration-skip-ink: none;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 2px;
    text-decoration-style: solid;
}
.explain {
    text-decoration: line-through;
    color: aqua;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 10px;
    line-height: 1.5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-indent: 50px;
    text-overflow: ellipsis;
    text-decoration: underline;
    text-decoration-color: aqua;
    text-decoration-thickness: 2px;
    text-decoration-skip-ink: none;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 2px;
    text-decoration-style: solid;
}
#links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 10px;
    line-height: 1.5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-indent: 50px;
    text-overflow: ellipsis;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 10px;
    line-height: 1.5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-indent: 50px;
    text-overflow: ellipsis;
}